* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: coral;
}
p {
    color : gray ;
}
/*
    การใช้งาน css เบื้องต้น
*/
div {
    color: white;
    background-color: black;
}
span {
    font-size: 18px;
    font-weight: bold;
}